{{#> main}}
<div class="wrapper">
    <h1>Home</h1>
    <form id="filter-form" method="GET" action="/">
        <label for="query">Buscar:</label>
        <input type="text" id="query" name="query" value="{{query}}">
        <label for="limit">Límite:</label>
        <input type="number" id="limit" name="limit" value="{{limit}}">
        <label for="sort">Ordenar por precio:</label>
        <select id="sort" name="sort">
            <option value="">Sin orden</option>
            <option value="asc" {{#if (eq sort 'asc')}}selected{{/if}}>Ascendente</option>
            <option value="desc" {{#if (eq sort 'desc')}}selected{{/if}}>Descendente</option>
        </select>
        <button type="submit">Aplicar</button>
    </form>
    <ol id="home-products-list">
        {{#each products}}
        <li>
            <span>{{this.name}}</span>
            <span>{{this.price}}</span>
            <button onclick="deleteProduct('{{this._id}}')">Eliminar</button>
        </li>
        {{/each}}
    </ol>
    <div class="pagination">
        {{#if hasPrevPage}}
        <a href="?page={{prevPage}}&limit={{limit}}&sort={{sort}}&query={{query}}">Anterior</a>
        {{/if}}
        <span>Página {{currentPage}} de {{totalPages}}</span>
        {{#if hasNextPage}}
        <a href="?page={{nextPage}}&limit={{limit}}&sort={{sort}}&query={{query}}">Siguiente</a>
        {{/if}}
    </div>
    <a href="/carts/60d21b4667d0d8992e610c85">Ver Carrito</a> <!-- Reemplaza con un ObjectId válido -->
    <a href="/realtimeproducts">Ver productos en Tiempo real</a>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    function deleteProduct(productId) {
        socket.emit('deleteProduct', productId);
    }

    socket.on('productList', (products) => {
        const productList = document.getElementById('home-products-list');
        productList.innerHTML = '';
        products.forEach((product) => {
            const li = document.createElement('li');
            li.innerHTML = `<span>${product.name}</span><span>${product.price}</span><button onclick="deleteProduct('${product._id}')">Eliminar</button>`;
            productList.appendChild(li);
        });
    });

    socket.on('productDeleted', (product) => {
        const productList = document.getElementById('home-products-list');
        const items = productList.getElementsByTagName('li');
        for (let i = 0; i < items.length; i++) {
            if (items[i].innerHTML.includes(product._id)) {
                productList.removeChild(items[i]);
                break;
            }
        }
    });
</script>
{{/main}}